[submodule "designs/libs/gf180mcu_fd_sc_mcu9t5v0_symbols"]
	path = designs/libs/gf180mcu_fd_sc_mcu9t5v0_symbols
	url = https://github.com/peterkinget/gf180mcu_fd_sc_mcu9t5v0_symbols.git
[submodule "designs/libs/switch_matrix_gf180mcu_9t5v0"]
	path = designs/libs/switch_matrix_gf180mcu_9t5v0
	url = https://github.com/mosbiuschip/switch_matrix_gf180mcu_9t5v0.git
[submodule "designs/libs/scratchpad/SSCS-Chipathon-2025_AC3E-Chile-team"]
	path = designs/libs/scratchpad/SSCS-Chipathon-2025_AC3E-Chile-team
	url = https://github.com/JorgeMarinN/SSCS-Chipathon-2025_AC3E-Chile-team.git
[submodule "designs/libs/scratchpad/Mosbious_2025_Spikcore.git"]
	path = designs/libs/scratchpad/Mosbious_2025_Spikcore.git
	url = https://github.com/RoyceRichmond/Mosbious_2025_Spikcore.git
[submodule "designs/libs/scratchpad/openfasoc-padframe"]
	path = designs/libs/scratchpad/openfasoc-padframe
	url = git@github.com:idea-fasoc/openfasoc-tapeouts.git
[submodule "designs/libs/scratchpad/sscs-chipathon2025-LNA"]
	path = designs/libs/scratchpad/sscs-chipathon2025-LNA
	url = git@github.com:mthudaa/sscs-chipathon2025-LNA.git
